nav.navbar.navbar-default
      .navbar-global.color-bg-dark-neutral-mid.theme-dark
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              i.glyph.glyph-hamburger
            |  
            a.navbar-brand(href='#')
              img(src='images/devplay_logo.svg', alt='Microsoft', height='23')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
              li.dropdown
                a.dropdown-toggle(href='colors.html', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Store
                  i.glyph.glyph-chevron-down-2
                ul.dropdown-menu(role='menu')
                  li
                    a(href='colors.html') Store home
                  li.divider
                  li
                    a(href='colors.html#bootstrap-colors') Devices
                  li
                    a(href='colors.html#mdl-colors') Software
                  li
                    a(href='colors.html#mdl-alt-colors') Apps
                  li
                    a(href='colors.html#mdl-alt-colors') Games
                  li
                    a(href='colors.html#mdl-alt-colors') Entertainment
                  li
                    a(href='colors.html#mdl-alt-colors') Business &amp; education
                  li
                    a(href='colors.html#mdl-alt-colors') Sale
                  li
                    a(href='colors.html#mdl-alt-colors') Find a store
                  li
                    a(href='colors.html#mdl-alt-colors') Gift cards
              li.dropdown
                a.dropdown-toggle(href='typography.html', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Products
                  i.glyph.glyph-chevron-down-2
                ul.dropdown-menu(role='menu')
                  li
                    a(href='typography.html') Software &amp; services
                  li
                    a(href='typography.html#fonts') Devices &amp; Xbox
                  li
                    a(href='typography.html#sizes') For business
                  li
                    a(href='typography.html#headings') For developers &amp; IT pros
                  li
                    a(href='typography.html#subheadings') For students &amp; educators
              li.dropdown
                a.dropdown-toggle(href='layout.html', data-toggle='dropdown', role='button', aria-expanded='false')
                  | Support
                  i.glyph.glyph-chevron-down-2
                ul.dropdown-menu(role='menu')
                  li
                    a(href='layout.html') Windows
                  li
                    a(href='layout.html#page-header') Office
                  li
                    a(href='layout.html#grid') Surface
                  li
                    a(href='layout.html#grid-small-gutters') Xbox
                  li
                    a(href='layout.html#spacers') Windows phone
                  li
                    a(href='layout.html#spacers') By resource
                  li
                    a(href='layout.html#spacers') Security &amp; updates
                  li
                    a(href='layout.html#spacers') Popular topics
                  li
                    a(href='layout.html#spacers') Sales &amp; orders
                  li
                    a(href='layout.html#spacers') Contact us
            ul.nav.navbar-nav.navbar-right
            if !user
              li
                a(href='/signup') Register
              li
                a(href='/login') Log in
            else
              li
                a(href='/account') My Account
              li 
                a(href='/signout') Log out

      .navbar-local.color-fill-accent-vivid-high.theme-dark
        .container
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
              span.sr-only Toggle navigation
              i.glyph.glyph-hamburger
            |  
            a.navbar-brand(href='/')
              img(src='images/devstrap_white.svg', alt='Winstrap', height='29')
          #bs-example-navbar-collapse-2.collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href='#') Home
              li
                a(href='#') About
              li
                a(href='#') Contact

